.checkout-page {
  width: 65%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }

  button {
    margin-left: auto;
  }

  .test-warning {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: red;
    margin-bottom: 10px;
    opacity: 0.5;
  }
}

@media (max-width: 700px) {
  .checkout-page {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .checkout-page {
    width: 100%;
  }
}
